.CadastroUsuario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.CadastroUsuario h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.CadastroUsuario form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CadastroUsuario label {
  font-size: 16px;
  margin-bottom: 8px;
}

.CadastroUsuario input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f5f5f5;
  margin-bottom: 16px;
  font-size: 14px;
}

.CadastroUsuario span {
  color: red;
  font-size: 14px;
  margin-bottom: 8px;
}

.CadastroUsuario button {
  width: 300px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 16px;
}

.CadastroUsuario button:hover {
  background-color: #555;
}

.CadastroUsuario .success-message {
  color: green;
  font-size: 16px;
  margin-top: 16px;
}

.CadastroUsuario .error-message {
  color: red;
  font-size: 16px;
  margin-top: 16px;
}
